<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/home_styles.css" rel="stylesheet" />
    <link href="/styles/user_dashboard_styles.css" rel="stylesheet" />
    <link href="/styles/menu_styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../../public/images/favicon.png" type="image/x-icon">
    <style>
      /* Custom media query for navbar to be responsive below 400px */ 
      @media (max-width: 400px) {
      .navbar-toggler { display: block; } .navbar-collapse { display: none; }
      .navbar-collapse.show { display: block; } }
    </style>
  </head>
  <body>
    {{> nav}}
    
    {{{body}}}


    <footer class="py-3">
      <p>&copy; Roger Paredes <span id="footer-year">2024</span></p>
    </footer>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var yearElement = document.getElementById('footer-year');
        var currentYear = new Date().getFullYear();
        yearElement.textContent = currentYear;
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

   
  </body>
</html>