<body>
  <div class="about-container mx-auto">
    <h1 class="about-title">About</h1>
    <p class="about-intro"><b>Forget about printing menus and website handling hassles!</b></p>
    <div class="about-content">
      <h2>What We Offer</h2>
      <div class="features">
        <div class="feature">
          <h3>Create Restaurant Profiles</h3>
          <p>Create a profile with your restaurant's logo and basic information. You may create many restaurant profiles depending on your plan.</p>
        </div>
        <div class="feature">
          <h3>Upload Menu Items</h3>
          <p>Upload menu items with descriptions, categories, labels, prices and pictures.</p>
        </div>
        <div class="feature">
          <h3>Manage Your Menu</h3>
          <p>Add, edit, and remove items as you please.</p>
        </div>
      </div>
      <h2>Automatic Features</h2>
      <div class="automatic-features">
        <div class="feature">
          <h3>Responsive Landing Page</h3>
          <p>A responsive landing page displaying your restaurant's info and menu.</p>
        </div>
        <div class="feature">
          <h3>Unique QR Code</h3>
          <p>A unique QR code linked to your restaurant's menu landing page. You may print it instead of menus.</p>
        </div>
      </div>
      <h2>Application Developed By</h2>
      <ul class="developers">
        <li>Ryan Ancheta - n01598445</li>
        <li>Jercy Tze Sie Tiong - n01642278</li>
        <li>Roger Paredes - n01602284</li>
      </ul>
    </div>
  </div>
</body>
