<body>
  <div class="w-75 mx-auto">
    <h1>About</h1>
    <p><b>Forget about printing menus and website handling hassles!</b></p>
<div>
This application is ideal to:
<ul>
<li>Create a profile with your restaurant's logo and basic information. You may create many restaurant profiles depending to your plan.</li>
<li>Upload menu items with descriptions and pictures.</li>
<li>Manage your menu, add, edit, remove items as you please.</li>

</ul>
Based on the uploaded information, the application automatically generates:
<ul>
    <li>A responsive landing page displaying your restaurant's info and menu.
</li>
<li>A unique QR code linked to your restaurant's menu landing page. You may print it instead of menus.
</li>
</ul>

</div>


<p>Application developed by:</p>
<ul>
    <li>Ryan Ancheta - n01598445</li>
    <li>Jercy Tze Sie Tiong - n01642278</li>
    <li>Roger Paredes - n01602284</li>
</ul>

</div>
</body>