<div class="sidebar">
    <a href="/user_dashboard">User Dashboard</a>
    <a href="/restaurant/{{restaurant._id}}">Restaurant Profile</a>
    <a href="#">Edit Account</a>
    <a href="#">Delete Account</a>
    <a href="/logout">Logout</a>
</div>
<main class="main-content">
    <div class="container">
        <h1>Customize your client menu</h1>
        
        <p>These settings will display in the "Client Menu", not in the "Manage Menu"</p>

        <h3>Choose your restaurant colors:</h3><br>
        <form action="/restaurant/{{restaurant._id}}/styles" method="post">

          <div>
            <input type="color" id="headerColor" name="headerColor" value="#e66465" />
            <label for="headerColor">Header or top of the menu</label>
          </div><br>

          <div>
            <input type="color" id="bodyColor" name="bodyColor" value="#f6b73c" />
            <label for="bodyColor">Background of the restaurant menu</label>
          </div><br>

          <div>
            <input type="color" id="fontColor" name="fontColor" value="#f6b73c" />
            <label for="fontColor">Font color of the menu</label>
            <span>Be sure to choose a color that contrasts with the background.</span>
          </div><br>

          <button type="submit" class="btn btn-primary">Save Changes</button>
          <a href="/restaurant/{{restaurant._id}}"class="btn btn-secondary">Back to Manage Menu</a>
          
        </form>
    </div>
</main>
