<form action="">




<p>Choose your restaurrant colors:</p>

<div>
  <input type="color" id="head" name="head" value="#e66465" />
  <label for="head">Header or top of menu</label>
</div>

<div>
  <input type="color" id="body" name="body" value="#f6b73c" />
  <label for="body">Body of restaurant menu</label>
</div>

</form>