  <!-- Hero Section -->
    <div class="hero-section">
        <div class="call-to-action" >
            {{!-- <h1 class="display-4">Welcome to Our Service</h1> --}}
            <p class="lead">Try for Free!</p>
            <a href="/register" class="btn btn-primary btn-lg">Get Started</a>
        </div>
    </div>

    <!-- Pricing Plans -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <div class="pricing-plan">
                    <h3>Free to Try</h3>
                    <p>Experience our service with a 90 day free trial.</p>
                    <a href="#" class="btn btn-secondary">Sign Up</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-plan">
                    <h3>Free if Vegan</h3>
                    <p>Free plan as long as your restaurant is fully Vegan 💚.</p>
                    <a href="#" class="btn btn-secondary">Sign Up</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-plan">
                    <h3>$10 a Month</h3>
                    <p>Get unlimited access for just $10 a month.</p>
                    <a href="#" class="btn btn-secondary">Sign Up</a>
                </div>
            </div>
        </div>
    </div>