<body>
  <div class="w-75 mx-auto">
    <h1>Login</h1>
    <form action="/login" method="post"> <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control form-control-sm" id="email" name="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control form-control-sm" id="password" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <br><br>
      <p class="text-left">
        <a href="/register">Don't have an account? Register Here</a>
      </p>
      
    </form>
  </div>
</body>