<section class="pricing my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="pricing-plan card shadow">  <div class="card-header text-center">
            <h3>Free to Try</h3>
          </div>
          <div class="card-body">
            <p>Experience our service with a 90 day free trial. Perfect for getting started and exploring all the features.</p>
            <ul class="list-group list-group-flush"> <li class="list-group-item">Limited Features</li>
              <li class="list-group-item">1 Menu Included</li>
              <li class="list-group-item">Basic Analytics</li>
            </ul>
          </div>
          <div class="card-footer text-center">
            <a href="/register" class="btn btn-primary">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pricing-plan card shadow most-popular">  <div class="card-header text-center">
            <h3>Free if Vegan </h3>
          </div>
          <div class="card-body">
            <p>Get our full features for free as long as your restaurant is fully Vegan. Showcasing your commitment to being cruelty free!💚</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">All Features Included</li>
              <li class="list-group-item">Unlimited Menus</li>
              <li class="list-group-item">Advanced Analytics</li>
              <li class="list-group-item">Customer Support</li>
              <li class="list-group-item">Priority Loading</li>
            </ul>
          </div>
          <div class="card-footer text-center">
            <a href="/register" class="btn btn-primary">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pricing-plan card shadow">  <div class="card-header text-center">
            <h3>$10 a Month</h3>
          </div>
          <div class="card-body">
            <p>Get unlimited access to all features for just $10 a month. Perfect for growing businesses that need full control.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">All Features Included</li>
              <li class="list-group-item">Unlimited Menus</li>
              <li class="list-group-item">Advanced Analytics</li>
              <li class="list-group-item">Customer Support</li>
              <li class="list-group-item">Priority Loading</li>
            </ul>
          </div>
          <div class="card-footer text-center">
            <a href="/register" class="btn btn-primary">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>