.logo {
    -webkit-filter: drop-shadow(2px 2px 5px #222);
    filter: drop-shadow(2px 2px 5px #222);
    margin-left: 10px;
}
 .shadow{
    box-shadow: 0 2px 4px #222;
 }

 .nav-item{
    padding: 5px;
    color: #fff;
 }


.btn-primary{
    background-color: rgb(86, 126, 169);
    color: #fff !important;
    border: none;
}

.btn-danger{
    background-color: #ee5d3d;
    border: 1px solid #ee5d3d;
}
.btn-danger:hover, .btn-danger:active{
    background-color: #eb4621;
    border: 1px solid #eb4621;
}

.hero-section {
    /* width: 100%; */
    min-height: 400px;
    background: url('../images/heroimage.png') no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    /* margin-top: -25px; */
}

.call-to-action{
    text-shadow: 0 0 6px #222;
}
.pricing-plan {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #f8f9fa;
}

.lead{
    margin-top: 200px;
}
.w-75{
    margin-top: 20px!important;
}

footer{
    color: #ee5d3d;
    margin: 30px auto;
    width: 55%;
    border-top: 0.4px solid #dbdbdb;
}

@media (min-width: 768px) {  /* For screens wider than 768px (laptops/desktops) */
    .w-75  {  /* Add a class to your form (optional) */
      width: 40% !important;
      margin: 0 auto;
    }
  }