/* Users sidebar */

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 76px;
    left: 0;
    background-color: #6e6e6e;
    padding-top: 20px;
    border-right: 1px solid #535353;
    z-index: 1;
}
.sidebar a {
    padding: 14px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
}
.sidebar a:hover {
    background-color: #ee5d3d;
    color: white;
}
.main-content {
    margin-left: 200px; /* Same as the width of the sidebar */
    margin-top: 70px;
    padding: 20px;
}
.user-welcome {
    color: #fff;
    padding: 10px;
    padding-left: 15px;
}
.resta-group-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Add 20px gap between columns */
    justify-content: flex-start;
    border-radius: 8px;
    background-color: #e0e0e0;
    padding: 10px;
}
.resta-group-container h3 {
    width: 100%;
    margin-bottom: -5px;
    padding-bottom: 0;
  }
.resta-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0 5px 5px;
    border: 0.2px solid #ccc ;
    /* min-width: 40%; */
    flex: 0 0 47.6%; 
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    border: 0.2px solid #ccc ;
}
.analytics-placeholder {
    background: #e9ecef;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 20px; 
}
.analytics-section {
    margin-bottom: 20px;
}
